body {
  font-family: Arial, sans-serif;
  background-color: #cccccc;
  /* background-image: url(https://i.annihil.us/u/prod/marvel/images/OpenGraph-TW-1200x630.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}
.container {
  margin: auto;
}
#landing-page {
  text-align: center;
}
#search-form {
  display: inline-block;
  margin-top: 20px;
}

#search-input {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 5px;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#biography-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#hero-name {
  margin-top: 20px;
  font-size: 30px;
}
#hero-description {
  margin: 20px 0;
}
.character {
  display: flex;
  justify-content: center;
}
#character-list {
  margin-top: 20px;
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
h2{
  text-align: center;
  clear: both;
  position: absolute;
  top: 200px;
}
#textDescription{
  position: absolute;
  border-style: solid;
  margin-bottom: 1.5em;
}
#characterImage{
  clear: both;
  display: flex;
  flex: 33.33%;
  float: left;
}