body {
  font-family: Arial, sans-serif;
  background-color: #cccccc;
}
.container-fluid{
  height: fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#landing-page {
  text-align: center;
}
#search-form {
  display: inline-block;
  margin-top: 20px;
}

#search-input {
  width: 300px;
  height: 40px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 25px;
  text-align: center;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: large;
  border-radius: 100px;
  cursor: pointer;
}

#biography-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#hero-name {
  margin-top: 20px;
  font-size: 30px;
}
#hero-description {
  margin: 20px 0;
}
.character {
  display: flex;
  justify-content: center;
}
#character-list {
  margin-top: 20px;
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
h2{
  text-align: center;
  clear: both;
  display: inline-block;
  position: absolute;
  margin-top: rem;
  color: rgb(255, 255, 255);
  font-size: 17px;
  margin-top: 90px;
}
#textDescription{
  position: absolute;
  margin-top: 500px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;

}
#characterImage{
  opacity: 1;
  object-fit: fill;
  clear: both;
  display:block;
  flex: 33.33%;
  float: left;
  width: 100%x;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffff;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  height: 200px;
}
img {
  margin-top: 60px;
  margin-bottom: 10px;
  border: 5px black;
  padding: 20px;
  border-radius: 10%;
  width: 70%;
  height: 80%;
}
#login-popup{
  text-align: center;
  backdrop-filter: blur(5px);
  width: auto;
  height: auto;
}
.character img {
  width: 400px;
  height: 400px;
  float: left;
}
/* .image-container:hover #characterImage  {
  opacity: 0.3;
} */
.wrapperDiv {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;  
}
#back-button{
  position: absolute;
  border-radius: 10px;
  border: 3px black solid;
  padding: 10px;
  background-color: maroon;
  margin-top: 75px;
  color: white;
  width: 100px;
}
.character-div{
  object-fit: contain;
}
.image-caption{
  text-align: center;
  color: white;
}

