body {
  font-family: Arial, sans-serif;
  background-color: #cccccc;
}
.container {
  margin: auto;
  position: relative;
}
#landing-page {
  text-align: center;
}
#search-form {
  display: inline-block;
  margin-top: 20px;
}

#search-input {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 5px;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#biography-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#hero-name {
  margin-top: 20px;
  font-size: 30px;
}
#hero-description {
  margin: 20px 0;
}
.character {
  display: flex;
  justify-content: center;
}
#character-list {
  margin-top: 20px;
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
h2{
  text-align: center;
  clear: both;
  position: absolute;
  margin-top: rem;
}
#textDescription{
  position: absolute;
  margin-bottom: 1.5em;
  margin-top: 500px;
  text-align: center;
  font-stretch: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;

}
#characterImage{
  clear: both;
  display: flex;
  flex: 33.33%;
  float: left;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  height: 200px;
}
img {
  margin-top: 60px;
  margin-bottom: 10px;
}

